
@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Genos:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Playwrite+AU+QLD:wght@100..400&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Farsan&family=Genos:ital,wght@0,100..900;1,100..900&family=Gruppo&family=Playwrite+AU+QLD:wght@100..400&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
:root{
    --cor0:#F4F6FE;
    --cor1:#E8F1F2;
    --cor2:#1B98E0;
    --cor3:#247BA0;
    --cor4:#006494;
    --cor5:#13293D;
    --cor6:#0068B5;
    --cor7:#0054A6;
    --cor8:#2E58A2;
    --corVerde0:#c5ebd6;
    --corVerde1:#83e1ad;
    --corVerde2:#3ddc84;
    --corVerde3:#2fa866;
    --corVerde4:#1a5c37;
    --corVerde5:#063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

*{
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
}
  
body{
    background-color:#018dde22;
    font-family: var(--fonte-padrao);
    }


main {
    min-width: 320px;
    max-width: 1150px;
    margin: auto;
    margin-bottom: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px; /* Aumenta o espaçamento interno */
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.475);
    background-color: #fafafa;
    height: auto;
    min-height: 100vh; /* Garante que o main ocupe pelo menos 100% da altura da janela */
    position: relative;
   
}


p {
    
   text-align: left;
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    max-width: 800px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    color:black;     
    
    
}

/*p:hover{
    color: rgba(0, 0, 0, 0.448);
}*/
/*Acesso Rápido - Configuração da Barra*/
#outras_informacoes {
    
    text-align: center; /* Centraliza o conteúdo dentro da div */
    position: relative; /* Torna possível o uso de posicionamento para o h2 */
    word-wrap: normal;
}

#h2_conteudo_ultimas_noticias {
    display: inline-block; /* Faz com que o h2 ocupe apenas a largura necessária */
    background-color: #fafafa; /* Coloca uma cor de fundo no h2 para "cobrir" a linha */
    padding: 0 10px; /* Adiciona espaçamento à esquerda e direita do texto */
    position: relative;
    top: -15px; /* Move o h2 ligeiramente para cima para sobrepor a linha */
    border-radius: 10px;
    font-size: 18px;
}

.linha {
    border: none; /* Remove o estilo padrão de borda da hr */
    border-top: 1px solid black; /* Define uma linha superior para a hr */
    margin: 10px 0; /* Ajusta o espaçamento acima e abaixo da linha */
}
/*Acesso Rápido*/

#centralConteudo{
font-family: "Tomorrow", Arial, Helvetica, sans-serif;
display: flex;
justify-content: center; /* Alinhamento horizontal */
align-items: center;    /* Alinhamento vertical */
height: 100vh;  
margin-top: 10px;        /* Altura da área, por exemplo */
margin-bottom: 10px; 
background-color:#2E58A2;
height: 40px;
font-weight: bolder; 
}

fieldset>#pCentralConteudo{
  font-weight: bold;
    color: #fafafa;
}




fieldset{
    background-color: #fafafa;
    width: 290px;
    height: 235px;
    margin: 0px;
    padding: 3px;
    border: 2px solid rgba(0, 0, 0, 0.259);
    border-radius: 10px;
}

.ultimasAtualizacoes{
overflow-y:  scroll;
max-width: 800px;
max-height: 300px;  

}

legend{
    text-align: left;
    padding: 0px;
    margin-left: 15px;
   font-size: 15px;
    
}

#comunicados{
    margin-top: 10px;
    height: 170px;
}
#programaBibliografia{
    margin-top: 10px;
    height: 100px;
}

#distribuiçãoLocalProva{
    margin-top: 10px;
    height: 100px;
}
#pDistribuiçãoLocalProva{
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-size: 16px;    
    margin-top: 14px;
}
#pDistribuiçãoLocalProva:hover{
    color: rgba(0, 0, 0, 0.448);
}

#calendarioEventos{
    margin-top: 10px;
    height: 100px;
}

#pCalendarioEventos{
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-size: 16px;    
    margin-top: 23px;
}

#pCalendarioEventos:hover{
    color: rgba(0, 0, 0, 0.448);
}

#pResumoInfRelevantes{
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-size: 16px;    
    margin-top: 23px;    
}

#pResumoInfRelevantes:hover{
    color: rgba(0, 0, 0, 0.448);
}

#cursos{
    margin-top: 10px;
    height: 100px;
}
#pCursos{
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-size: 16px;    
    margin-top: 25px;
}
#pCursos:hover{
    color: rgba(0, 0, 0, 0.448);
}

#motivacional{
    margin-top: 10px;
    height: 100px;
}
#pMotivacional{
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-size: 16px;    
    margin-top: 25px;
}
#pMotivacional:hover{
    color: rgba(0, 0, 0, 0.448);
}

#cadastro{
    margin-top: 10px;
    height: 100px;
}
#pCadastro{
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-size: 16px;    
    margin-top: 25px;
}
#pCadastro:hover{
    color: rgba(0, 0, 0, 0.448);
}

#faleConosco{
    margin-top: 10px;
    height: 100px;
}
#pfaleConosco{
    font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
    font-size: 16px;    
    margin-top: 25px;
}
#pfaleConosco:hover{
    color: rgba(0, 0, 0, 0.448);
}

 